<h1> <%= @golfcourses.name %> </h1>

<p>This course is located in <%= @golfcourses.city %>, <%= @golfcourses.county %> County, <%= @golfcourses.state %></p>

<%= link_to 'Add a comment!', new_golfcourse_review_path(@golfcourses) %>


<%= link_to "Back to the list!", golfcourses_path %>