<h1> Your review for <%= @golfcourse.name %> has been deleted!</h1>
 
  <div class="field">
    <%= label :comment %><br>
    <%= text_area :comment, size: "50x10" %>
  </div>

  <div class="rating">
    <%= label :star_rating %><br>
    <%= text_field :star_rating %>
  </div>
  
  <% end %>
  <br>

<%= link_to 'Back to the list!', golfcourses_path %>