<h1> This is where you show reviews</h1>

<% @golfcourse.reviews.each do |comment| %>
  <%= comment.comment %> - posted by <%= comment.user.name %>
  <% if @review.user == current_user %>
    <%= link_to 'edit', edit_golfcourse_review_path(@golfcourses, @review) %>
  <% end %>
<br>
<% end %>

<%= form_for [@review.golfcourse, @review] do |f| %>
 
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, size: "50x10" %>
  </div>

  <div class="rating">
    <%= f.label :star_rating %><br>
    <%= f.text_field :star_rating %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', golfcourses_path %>
